<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">

  <h2>Name</h2>
  <div class="field">
    <div class="control">
      <label class="label" for="name">Your Name:</label>
      <input
        id="name"
        type="text"
        class="form-control input"
        formControlName="name"
        [ngClass]="{ 'is-danger' : showErrors() }"
      />
    <p>Value: {{ cardForm.controls['name'].errors }}</p>
    </div>

    <div class="control">
      <label class="label" for="name">Your Friends Name:</label>
      <input
        id="friends-name"
        type="text"
        class="form-control input"
        formControlName="friendsName"
        [ngClass]="{ 'is-danger' : showErrors() }"
      />
    </div>
  </div>

  <div formGroupName="address">
    <h2>Address</h2>
    <div class="field">
      <div class="control">
        <label class="label" for="street">Street:</label>
        <input
          id="street"
          type="text"
          class="form-control input"
          formControlName="street"
        />
      </div>
      <div class="control">
        <label class="label" for="city">City:</label>
        <input
          id="city"
          type="text"
          class="form-control input"
          formControlName="city"
        />
      </div>
      <div class="control">
        <label class="label" for="state">State:</label>
        <input
          id="state"
          type="text"
          class="form-control input"
          formControlName="state"
        />
      </div>
    </div>
    <div class="control">
      <label class="label" for="zip">Zip Code:</label>
      <input
        id="zip"
        type="text"
        class="form-control input"
        formControlName="zip"
      />
    </div>
  </div>

  <!-- <div formArrayName="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()">+ Add another alias</button>
    <div *ngFor="let alias of aliases.controls; let i = index">
      <label for="alias-{{ i }}">Alias:</label>
      <input id="alias-{{ i }}" type="text" [formControlName]="i">
    </div>
  </div> -->

  <div >
    <p>Complete this form to submit</p>
    <button type="submit" [disabled]="!cardForm.valid">Submit</button>
    <button type="button" [disabled]="!cardForm.valid" (click)="updateCard()">
      Update Names
    </button>
    <button type="button" [disabled]="!cardForm.valid" (click)="clearCard()">
      Clear Names
    </button>
  </div>

</form>

<hr />
<div>Form Contents: {{ cardForm.value | json }}</div>
<div>Form is valid: {{ cardForm.valid }}</div>
<div>Form status: {{ cardForm.status }}</div>
<div>Error around name: {{ cardForm.controls["name"].errors | json }}</div>
